In [176]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [109]:
df = pd.read_csv('bengalore_distance from Electronic city.csv')
df.head(4)
df.info

<bound method DataFrame.info of     Place_ID                        Place_Name  Distance_KM  Traffic_Signals  \
0          1  Kempegowda International Airport         35.0               18
1          2          Lalbagh Botanical Garden         18.5               12
2          3                           MG Road         22.3               14
3          4                       Cubbon Park         20.0               10
4          5                  Bangalore Palace         25.7               15
5          6                      UB City Mall         23.0               12
6          7                  Bannerghatta Zoo         30.5               20
7          8                 Commercial Street         21.8               13
8          9                    Vidhana Soudha         19.5               11
9         10                       Hebbal Lake         28.0               16
10        11            Forum Mall Koramangala         15.2                9
11        12                Phoenix Marketcity         12.5                8
12        13         Indiranagar Metro Station         17.8               10
13        14               Jayanagar 4th Block         14.5                8
14        15                Koramangala Social         13.3                7
15        16                      Marathahalli          8.2                5
16        17                        Whitefield         10.0                6
17        18                    Bellandur Lake          6.5                4
18        19                 Manyata Tech Park         25.5               14
19        20                       Sankey Tank         22.0               12
20        21                       Nandi Hills         55.0               22
21        22           Wonderla Amusement Park         40.5               18
22        23              Art of Living Center         30.8               15
23        24                   Lumbini Gardens         28.3               12
24        25                      Brigade Road         24.7               13
25        26         Cubbon Park Metro Station         21.5               11
26        27                       Ulsoor Lake         19.0                9
27        28      Jawaharlal Nehru Planetarium         18.2                8
28        29                      Freedom Park         16.7                7
29        30            Sri Ramakrishna Ashram         23.5               12
30        31                         KR Market         17.8               10
31        32               St. Maryâ€™s Basilica         20.5               11
32        33                     Gandhi Bazaar         16.0                9
33        34                 Someshwara Temple         14.7                8
34        35            Bangalore Central Mall         19.3               10
35        36        Tippu Sultan Summer Palace         26.8               14
36        37                Eagle Ridge Resort         45.5               20
37        38                Brigade Millennium         12.5                7
38        39                    Bangalore Club         22.7               12

   Time_of_Day Congestion  Travel_Time_Minutes
0      Morning       High                   90
1      Morning       High                   55
2      Morning       High                   65
3      Morning     Medium                   50
4      Morning       High                   70
5      Morning     Medium                   60
6      Morning       High                   85
7      Morning       High                   62
8      Morning     Medium                   55
9      Morning       High                   75
10     Evening       High                   45
11     Evening     Medium                   40
12     Evening       High                   50
13     Evening     Medium                   42
14     Evening     Medium                   38
15     Evening       High                   30
16     Evening       High                   35
17     Evening     Medium                   25
18     Evening       High                   70
19     Evening        Low                   55
20     Weekend     Medium                  130
21     Weekend        Low                  110
22     Weekend        Low                   85
23     Weekend     Medium                   75
24     Weekend     Medium                   65
25     Weekend        Low                   60
26     Weekend        Low                   50
27     Weekend     Medium                   48
28     Weekend        Low                   45
29     Weekend     Medium                   65
30     Morning       High                   52
31     Evening     Medium                   58
32     Morning       High                   47
33     Evening     Medium                   40
34     Weekend     Medium                   55
35     Weekend        Low                   72
36     Weekend        Low                  120
37     Morning       High                   38
38     Evening     Medium                   60  >

In [110]:
df['Time_of_Day']= df['Time_of_Day'].replace({'Weekend':'Afternoon'})

In [111]:
df.columns

Index(['Place_ID', 'Place_Name', 'Distance_KM', 'Traffic_Signals',
       'Time_of_Day', 'Congestion', 'Travel_Time_Minutes'],
      dtype='object')

In [112]:
df = df.drop('Place_ID', axis=1)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Place_Name           39 non-null     object
 1   Distance_KM          39 non-null     float64
 2   Traffic_Signals      39 non-null     int64
 3   Time_of_Day          39 non-null     object
 4   Congestion           39 non-null     object
 5   Travel_Time_Minutes  39 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.0+ KB

In [114]:
df.describe()

       Distance_KM  Traffic_Signals  Travel_Time_Minutes
count    39.000000        39.000000            39.000000
mean     22.148718        11.589744            60.820513
std       9.704743         4.215997            22.981539
min       6.500000         4.000000            25.000000
25%      16.350000         8.500000            46.000000
50%      20.500000        11.000000            55.000000
75%      25.600000        14.000000            70.000000
max      55.000000        22.000000           130.000000

In [115]:
df.head(4)

,Place_Name,Distance_KM,Traffic_Signals,Time_of_Day,Congestion,Travel_Time_Minutes
0,Kempegowda International Airport,35.0,18,Morning,High,90
1,Lalbagh Botanical Garden,18.5,12,Morning,High,55
2,MG Road,22.3,14,Morning,High,65
3,Cubbon Park,20.0,10,Morning,Medium,50

In [116]:
df_3th= df[['Time_of_Day', 'Congestion', 'Travel_Time_Minutes']]

In [117]:
from sklearn.model_selection import train_test_split
x = df.iloc[:,[3,4]]

In [118]:
x.shape

(39, 2)

In [119]:
x.head

<bound method NDFrame.head of    Time_of_Day Congestion
0      Morning       High
1      Morning       High
2      Morning       High
3      Morning     Medium
4      Morning       High
5      Morning     Medium
6      Morning       High
7      Morning       High
8      Morning     Medium
9      Morning       High
10     Evening       High
11     Evening     Medium
12     Evening       High
13     Evening     Medium
14     Evening     Medium
15     Evening       High
16     Evening       High
17     Evening     Medium
18     Evening       High
19     Evening        Low
20   Afternoon     Medium
21   Afternoon        Low
22   Afternoon        Low
23   Afternoon     Medium
24   Afternoon     Medium
25   Afternoon        Low
26   Afternoon        Low
27   Afternoon     Medium
28   Afternoon        Low
29   Afternoon     Medium
30     Morning       High
31     Evening     Medium
32     Morning       High
33     Evening     Medium
34   Afternoon     Medium
35   Afternoon        Low
36   Afternoon        Low
37     Morning       High
38     Evening     Medium>

In [120]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Morning', 'Afternoon', 'Evening'], ['Low', 'Medium', 'High']])
oe.fit(x)

OrdinalEncoder(categories=[['Morning', 'Afternoon', 'Evening'],
                           ['Low', 'Medium', 'High']])

In [121]:
x = oe.transform(x)
x  = pd.DataFrame(x)

In [122]:
# x = x.rename(columns={0 : 'Time_of_Day', 1 : 'Congestion'})
x.head()

     0    1
0  0.0  2.0
1  0.0  2.0
2  0.0  2.0
3  0.0  1.0
4  0.0  2.0

In [123]:
df.head(4)

,Place_Name,Distance_KM,Traffic_Signals,Time_of_Day,Congestion,Travel_Time_Minutes
0,Kempegowda International Airport,35.0,18,Morning,High,90
1,Lalbagh Botanical Garden,18.5,12,Morning,High,55
2,MG Road,22.3,14,Morning,High,65
3,Cubbon Park,20.0,10,Morning,Medium,50

In [124]:
df = df.drop(['Time_of_Day', 'Congestion'], axis=1)

In [125]:
df.head()

,Place_Name,Distance_KM,Traffic_Signals,Travel_Time_Minutes
0,Kempegowda International Airport,35.0,18,90
1,Lalbagh Botanical Garden,18.5,12,55
2,MG Road,22.3,14,65
3,Cubbon Park,20.0,10,50
4,Bangalore Palace,25.7,15,70

In [126]:
df1 = x.reset_index(drop=True)  # For the Time_of_Day/Congestion DataFrame
df2 = df.reset_index(drop=True)  # For the Place_Name/Distance_KM DataFrame

In [127]:
df = pd.concat([df, x], axis=1)
df=df.rename(columns={0 : 'Time_of_Day', 1 : 'Congestion'})

In [128]:
df.head()
# df =df.drop(['Time_of_Day', 'Congestion'])

,Place_Name,Distance_KM,Traffic_Signals,Travel_Time_Minutes,Time_of_Day,Congestion
0,Kempegowda International Airport,35.0,18,90,0.0,2.0
1,Lalbagh Botanical Garden,18.5,12,55,0.0,2.0
2,MG Road,22.3,14,65,0.0,2.0
3,Cubbon Park,20.0,10,50,0.0,1.0
4,Bangalore Palace,25.7,15,70,0.0,2.0

In [129]:
oe.categories_

[array(['Morning', 'Afternoon', 'Evening'], dtype=object),
 array(['Low', 'Medium', 'High'], dtype=object)]

In [130]:
df.describe()

,Distance_KM,Traffic_Signals,Travel_Time_Minutes,Time_of_Day,Congestion
count,39.000000,39.000000,39.000000,39.00000,39.000000
mean,22.148718,11.589744,60.820513,1.00000,1.179487
std,9.704743,4.215997,22.981539,0.82717,0.756439
min,6.500000,4.000000,25.000000,0.00000,0.000000
25%,16.350000,8.500000,46.000000,0.00000,1.000000
50%,20.500000,11.000000,55.000000,1.00000,1.000000
75%,25.600000,14.000000,70.000000,2.00000,2.000000
max,55.000000,22.000000,130.000000,2.00000,2.000000

In [131]:
df['Place_Name'].value_counts()

Place_Name
Kempegowda International Airport    1
Sri Ramakrishna Ashram              1
Art of Living Center                1
Lumbini Gardens                     1
Brigade Road                        1
Cubbon Park Metro Station           1
Ulsoor Lake                         1
Jawaharlal Nehru Planetarium        1
Freedom Park                        1
KR Market                           1
Nandi Hills                         1
St. Maryâ€™s Basilica                 1
Gandhi Bazaar                       1
Someshwara Temple                   1
Bangalore Central Mall              1
Tippu Sultan Summer Palace          1
Eagle Ridge Resort                  1
Brigade Millennium                  1
Wonderla Amusement Park             1
Sankey Tank                         1
Lalbagh Botanical Garden            1
Hebbal Lake                         1
MG Road                             1
Cubbon Park                         1
Bangalore Palace                    1
UB City Mall                        1
Bannerghatta Zoo                    1
Commercial Street                   1
Vidhana Soudha                      1
Forum Mall Koramangala              1
Manyata Tech Park                   1
Phoenix Marketcity                  1
Indiranagar Metro Station           1
Jayanagar 4th Block                 1
Koramangala Social                  1
Marathahalli                        1
Whitefield                          1
Bellandur Lake                      1
Bangalore Club                      1
Name: count, dtype: int64

In [132]:
'''***Hotencoder'''

'***Hotencoder***'

In [133]:
pd.get_dummies(df,columns=['Place_Name'], drop_first=True).head()

,Distance_KM,Traffic_Signals,Travel_Time_Minutes,Time_of_Day,Congestion,Place_Name_Bangalore Central Mall,Place_Name_Bangalore Club,Place_Name_Bangalore Palace,Place_Name_Bannerghatta Zoo,Place_Name_Bellandur Lake,...,Place_Name_Sankey Tank,Place_Name_Someshwara Temple,Place_Name_Sri Ramakrishna Ashram,Place_Name_St. Maryâ€™s Basilica,Place_Name_Tippu Sultan Summer Palace,Place_Name_UB City Mall,Place_Name_Ulsoor Lake,Place_Name_Vidhana Soudha,Place_Name_Whitefield,Place_Name_Wonderla Amusement Park
0,35.0,18,90,0.0,2.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,18.5,12,55,0.0,2.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,22.3,14,65,0.0,2.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,20.0,10,50,0.0,1.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,25.7,15,70,0.0,2.0,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [134]:
df.head()

,Place_Name,Distance_KM,Traffic_Signals,Travel_Time_Minutes,Time_of_Day,Congestion
0,Kempegowda International Airport,35.0,18,90,0.0,2.0
1,Lalbagh Botanical Garden,18.5,12,55,0.0,2.0
2,MG Road,22.3,14,65,0.0,2.0
3,Cubbon Park,20.0,10,50,0.0,1.0
4,Bangalore Palace,25.7,15,70,0.0,2.0

In [135]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
a_train,a_test,b_train,b_test = train_test_split(df.iloc[:,[0, 1, 2, 4, 5]],df.iloc[:,3],test_size=0.2,random_state=2)

In [136]:
a_train.shape

(31, 5)

In [137]:
a_test.head()

,Place_Name,Distance_KM,Traffic_Signals,Time_of_Day,Congestion
19,Sankey Tank,22.0,12,2.0,0.0
9,Hebbal Lake,28.0,16,0.0,2.0
14,Koramangala Social,13.3,7,2.0,1.0
0,Kempegowda International Airport,35.0,18,0.0,2.0
2,MG Road,22.3,14,0.0,2.0

In [138]:
from sklearn.compose import ColumnTransformer
'''transformer = columnTransform(transformers=,[('name_of_the_transformer', OrdinalEncoder/OneHotEncoder_etc, [column_name]] remainder=)'''

transformer = ColumnTransformer(
    transformers=[
        ('tnf1', OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore'), ['Place_Name'])
    ], 
    remainder='passthrough'
)


transformer.fit(a_train)


a_train_encoded = transformer.transform(a_train)
a_test_encoded = transformer.transform(a_test)
print("Train shape:", a_train_encoded.shape)
print("Test shape:", a_test_encoded.shape)

Train shape: (31, 34)
Test shape: (8, 34)

C:\Users\Predator\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:246: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [139]:
a_train_encoded = pd.DataFrame(a_train_encoded)
a_test_encoded = pd.DataFrame(a_test_encoded)
a_train_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.5,4.0,2.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,17.8,10.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,12.5,7.0,0.0,2.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,21.5,11.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,28.3,12.0,1.0,1.0

In [80]:
a_test_encoded

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,22.0,12.0,2.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,16.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,13.3,7.0,2.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,35.0,18.0,0.0,2.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,22.3,14.0,0.0,2.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,23.5,12.0,1.0,1.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,14.5,8.0,2.0,1.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,26.8,14.0,1.0,0.0

In [82]:
combined_df = pd.concat([a_train_encoded, a_test_encoded], ignore_index=True)
combined_df.shape

(39, 34)

In [84]:
df

,Place_Name,Distance_KM,Traffic_Signals,Travel_Time_Minutes,Time_of_Day,Congestion
0,Kempegowda International Airport,35.0,18,90,0.0,2.0
1,Lalbagh Botanical Garden,18.5,12,55,0.0,2.0
2,MG Road,22.3,14,65,0.0,2.0
3,Cubbon Park,20.0,10,50,0.0,1.0
4,Bangalore Palace,25.7,15,70,0.0,2.0
5,UB City Mall,23.0,12,60,0.0,1.0
6,Bannerghatta Zoo,30.5,20,85,0.0,2.0
7,Commercial Street,21.8,13,62,0.0,2.0
8,Vidhana Soudha,19.5,11,55,0.0,1.0
9,Hebbal Lake,28.0,16,75,0.0,2.0
10,Forum Mall Koramangala,15.2,9,45,2.0,2.0
11,Phoenix Marketcity,12.5,8,40,2.0,1.0
12,Indiranagar Metro Station,17.8,10,50,2.0,2.0
13,Jayanagar 4th Block,14.5,8,42,2.0,1.0
14,Koramangala Social,13.3,7,38,2.0,1.0
15,Marathahalli,8.2,5,30,2.0,2.0
16,Whitefield,10.0,6,35,2.0,2.0
17,Bellandur Lake,6.5,4,25,2.0,1.0
18,Manyata Tech Park,25.5,14,70,2.0,2.0
19,Sankey Tank,22.0,12,55,2.0,0.0
20,Nandi Hills,55.0,22,130,1.0,1.0
21,Wonderla Amusement Park,40.5,18,110,1.0,0.0
22,Art of Living Center,30.8,15,85,1.0,0.0
23,Lumbini Gardens,28.3,12,75,1.0,1.0
24,Brigade Road,24.7,13,65,1.0,1.0
25,Cubbon Park Metro Station,21.5,11,60,1.0,0.0
26,Ulsoor Lake,19.0,9,50,1.0,0.0
27,Jawaharlal Nehru Planetarium,18.2,8,48,1.0,1.0
28,Freedom Park,16.7,7,45,1.0,0.0
29,Sri Ramakrishna Ashram,23.5,12,65,1.0,1.0
30,KR Market,17.8,10,52,0.0,2.0
31,St. Maryâ€™s Basilica,20.5,11,58,2.0,1.0
32,Gandhi Bazaar,16.0,9,47,0.0,2.0
33,Someshwara Temple,14.7,8,40,2.0,1.0
34,Bangalore Central Mall,19.3,10,55,1.0,1.0
35,Tippu Sultan Summer Palace,26.8,14,72,1.0,0.0
36,Eagle Ridge Resort,45.5,20,120,1.0,0.0
37,Brigade Millennium,12.5,7,38,0.0,2.0
38,Bangalore Club,22.7,12,60,2.0,1.0

In [86]:
df=df.drop(columns='Place_Name')

In [87]:
df = pd.concat([df, combined_df], ignore_index=True)
df.shape

(78, 39)

In [90]:
df.info

<bound method DataFrame.info of     Distance_KM  Traffic_Signals  Travel_Time_Minutes  Time_of_Day  \
0          35.0             18.0                 90.0          0.0
1          18.5             12.0                 55.0          0.0
2          22.3             14.0                 65.0          0.0
3          20.0             10.0                 50.0          0.0
4          25.7             15.0                 70.0          0.0
..          ...              ...                  ...          ...
73          NaN              NaN                  NaN          NaN
74          NaN              NaN                  NaN          NaN
75          NaN              NaN                  NaN          NaN
76          NaN              NaN                  NaN          NaN
77          NaN              NaN                  NaN          NaN

    Congestion    0    1    2    3    4  ...   24   25   26   27   28   29  \
0          2.0  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
1          2.0  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
2          2.0  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
3          1.0  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
4          2.0  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
..         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
73         NaN  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
74         NaN  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
75         NaN  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
76         NaN  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
77         NaN  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

      30    31   32   33
0    NaN   NaN  NaN  NaN
1    NaN   NaN  NaN  NaN
2    NaN   NaN  NaN  NaN
3    NaN   NaN  NaN  NaN
4    NaN   NaN  NaN  NaN
..   ...   ...  ...  ...
73  35.0  18.0  0.0  2.0
74  22.3  14.0  0.0  2.0
75  23.5  12.0  1.0  1.0
76  14.5   8.0  2.0  1.0
77  26.8  14.0  1.0  0.0

[78 rows x 39 columns]>

In [182]:
from difflib import get_close_matches
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [183]:
X = df[['Place_Name']]
y = df['Travel_Time_Minutes']
transformer = ColumnTransformer(transformers=[('ohe', OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore'), ['Place_Name'])],remainder='passthrough')
X_train_ = transformer.fit_transform(X_train)
X_test_ = transformer.transform(X_test)


ohe = transformer.named_transformers_['ohe']

encoded_feature_names = [f"Place_Name_{cat}" for cat in ohe.categories_[0][1:]]
print("Encoded Feature Names:", encoded_feature_names)

Encoded Feature Names: ['Place_Name_Bangalore Central Mall', 'Place_Name_Bangalore Club', 'Place_Name_Bellandur Lake', 'Place_Name_Brigade Millennium', 'Place_Name_Brigade Road', 'Place_Name_Commercial Street', 'Place_Name_Cubbon Park', 'Place_Name_Cubbon Park Metro Station', 'Place_Name_Forum Mall Koramangala', 'Place_Name_Freedom Park', 'Place_Name_Gandhi Bazaar', 'Place_Name_Hebbal Lake', 'Place_Name_Indiranagar Metro Station', 'Place_Name_Kempegowda International Airport', 'Place_Name_Koramangala Social', 'Place_Name_Lalbagh Botanical Garden', 'Place_Name_Lumbini Gardens', 'Place_Name_MG Road', 'Place_Name_Manyata Tech Park', 'Place_Name_Marathahalli', 'Place_Name_Nandi Hills', 'Place_Name_Phoenix Marketcity', 'Place_Name_Sankey Tank', 'Place_Name_Sri Ramakrishna Ashram', 'Place_Name_St. Maryâ€™s Basilica', 'Place_Name_Tippu Sultan Summer Palace', 'Place_Name_UB City Mall', 'Place_Name_Vidhana Soudha', 'Place_Name_Whitefield', 'Place_Name_Wonderla Amusement Park']

C:\Users\Predator\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:246: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [200]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_, y_train)
y_pred = model.predict(X_test_)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("Test MAE:", mae)
print("Test RMSE:", rmse)
print("Test RÂ² Score:", r2)

Test MAE: 26.875
Test RMSE: 29.531762561689405
Test RÂ² Score: -0.32494599662924006

In [203]:
def predict_travel_time(place_name, cutoff=0.6):

    known_lower = [p.lower() for p in known_places]

    matches = get_close_matches(place_name.lower(), known_lower, n=1, cutoff=cutoff)
    
    if matches:
        idx = known_lower.index(matches[0])
        corrected_place = known_places[idx]
        print(f"Using closest match: '{corrected_place}' for input '{place_name}'")
    else:
        print(f"No close match found for '{place_name}'. Using input as is.")
        corrected_place = place_name

    # Create a DataFrame for the new input
    new_input = pd.DataFrame({'Place_Name': [corrected_place]})
    # Transform using the already-fitted transformer
    new_input_enc = transformer.transform(new_input)
    # Predict the travel time
    predicted_time = model.predict(new_input_enc)
    return predicted_time[0]

new_place = 'indiranagar'  # Intentionally missing the "s" at the end.
predicted_time = predict_travel_time(new_place)
print(f"Predicted travel time to {new_place}: {predicted_time:.2f} minutes")

Using closest match: 'Indiranagar Metro Station' for input 'indiranagar'
Predicted travel time to indiranagar: 59.75 minutes